.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.user-container {
  background: #a0bdce;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center; /* 세로 가운데 */
  padding: 0.5rem;
}
.user-container label {
  font-size: 14px;
  margin-right: 1rem;
}
.user-container input {
  border-radius: 3px;
  border: none;
  height: 30%;
}

.display-container {
  background: #b2c7d9;
  flex: 12;
  overflow-y: overlay;
}
.display-container::-webkit-scrollbar {
  width: 1vw;
}
.display-container::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.49);
  border-radius: 100px;
}


.input-container {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.input-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
}
.chatting-input {
  font-size: 15px;
  height: 100%;
  flex: 8;
  margin-right: 3px;
  resize: none;
}
.send-button {
  flex: 0.5;
  height: 100%;
  background: #ffeb33;
  border-radius: 3px;
}
.chatting-list li {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0.5rem;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile .user {
  font-size: 12px;
  margin-bottom: 0.3rem;
}
.profile .img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.message {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 15px;
  margin: 0 5px;
  display: inline-block;
}
.time {
  font-size: 12px;
  padding: 0px;
  margin: 0 5px;
} 
.sent {
  flex-direction: row-reverse;
  float: right;
}
.sent .message {
  background: #ffeb33;
}
.received .message {
  background: #fff;
}