<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dsa/dsa/">         <!-- 특정 페이지로 이동하는 건 form action이 해준다. js파일에서 res.render는 그냥 그 페이지를 보여줄뿐 이동하지 않는다-->
        <h1>첫 번째 페이지로 이동</h1>
        <input type="submit">
    </form>

</body>
</html>