<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.ejs</title>
</head>
<body>
    <form action="/login" target="_blank" method="post">
        <fieldset style="width:300px">
            <legend>개인 정보</legend>
            아이디 : <input type="text" name="id"><br>
            비밀번호 : <input type="password" name="pw"><br>
        </fieldset>
        <button>로그인</button>
    </form>
</body>
</html>
    