<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      document.cookie =
        'user = sesac; Expires = Sat, 19 Aug 2022 13:00:00 GMT; path = /';
      console.log(document.cookie);

      let cookieArr = document.cookie.split(';');
      console.log(cookieArr);
      // for (let i = 0; i < cookieArr.length; i++)
      for (let i in cookieArr) {
        console.log(cookieArr[i]);
      }
    </script>
  </head>
  <body></body>
</html>
